<div>
  <a {{action 'changeSrc' 'apple-coffee-cup-5199.jpg'}}>Image 1</a> ||
  <a {{action 'changeSrc' 'art-heart-caffeine-coffee.jpg'}}>Image 2</a> ||
  <a {{action 'changeSrc' 'love-beans-caffeine-coffee.jpg'}}>Image 3</a> ||
  <a {{action 'changeSrc' 'restaurant-red-beans-coffee.jpg'}}>Image 4</a>
</div>

<div>
  {{#if imageLoading}}Loading...{{/if}}
</div>

<div class="{{if imageLoading 'hidden'}}">
  {{ella-image src=imageSrc action='imageChange' alt='Demo Images' title='Demo Images'}}
</div>
